<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Approval</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>Dear {{user_name}}</p>
    <p>Driver Approval Successfully</p>
    <a href="http://localhost:4200/#/auth/driver-login"> Click to Login</a>
</body>
</html>