<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reject information</title>
</head>
<body>
    <p>Dear {{user_name}}</p>
    <p>Sorry Your Request Not Accepted</p>
</body>
</html>